<%= render :partial => 'layouts/header' %>

<main>
  <section class="edit-user">
    <div class="container">
      <div class="form-container">
        <h2>Editar dados pessoais</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div  class="field" data-toggle="tooltip">
            <%= f.label :nome %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div  class="field" data-toggle="tooltip">
            <%= f.label :Telefone %>
            <%= f.text_field :tel, autofocus: true, class: "form-control" %>
          </div>

          <div class="field" data-toggle="tooltip">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field" data-toggle="tooltip">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="field" data-toggle="tooltip">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="field" data-toggle="tooltip">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %><br /> 
          </div>

          <div class="actions">
            <%= f.submit "Atualizar", class: "btn-secundario" %>
          </div>
        <% end %>

        <h3>Cancelar minha conta</h3>

        <p>Insatisfeito? :( <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete, class: "btn-secundario cancel" %></p>

        <%= link_to "Back", :back %>
      </div>
    </div>  
  </section>
</main>