<%= render :partial => 'layouts/header' %>

<main>
  <section class="search">
    <div class="container">
    	<h1>Procurar animais</h1>
    	<div class="row">
    		<div class="col-md-3">
    			<button class="btn btn-secundario" onclick="initialize('todos');">Todos (<%= @countAll %>)</button>
    		</div>
    		<div class="col-md-3">
    			<button class="btn btn-secundario" onclick="initialize('perdido');">Perdidos (<%= @countLosts %>)</button>
    		</div>
    		<div class="col-md-3">
    			<button class="btn btn-secundario" onclick="initialize('encontrado');">Encontrados (<%= @countFounds %>)</button>
    		</div>
            <div class="col-md-3">
                <button class="btn btn-secundario" onclick="initialize('adoptions');">Adoção (<%= @countAdoptions %>)</button>
            </div>
    	</div>
		<div id="map-search"></div>
    </div>
 </section>
</main>
<%= render :partial => 'layouts/footer' %>
