<%= form_for([animal, @adoption]) do |f| %>
    <% if @adoption.errors.any? %>
        <div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>
            <ul>
            <% @adoption.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <div class="select-images">
        <a href="javascript:void(0)" class="link-md" id="exist" onclick="hideMapa();toggleCreation();">Digitar um endereço manualmente</a>
        <div id="exist-container" class="hidden">
            <a href="javascript:void(0)" class="link-md hidden" id="newItem" onclick="toggleCreation();showMapa()">Usar localização atual</a>
            <div class="field" data-toggle="tooltip"> 
                <div class="field">
                    <%= f.label :address, "Endereço" %>
                    <button type="button" class="btn btn-tooltip" data-container="body" data-toggle="popover" data-placement="right" data-content="Exemplo de formato de endereço:  Av. Comendador Aladino Selmi, 10, Campinas, SP ">
                    ?  
                    </button>
                    <%= f.text_field :address, class: "form-control", placeholder: 'Av. Comendador Aladino Selmi, 10, Campinas, SP' %>
                </div>
            </div>
        </div>
    </div>
    <div id="new">
        <div id="map-canvas"></div>
    </div>
    <div class="field">
        <%= f.label :date_adoption, "Data do evento" %>
        <%= f.text_field :date_adoption, class: "form-control",placeholder: 'xx/xx/xxxx' %>
    </div>


    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>

    <div class="field">
        <%= f.label :comment, "Detalhes do adoção" %>
        <%= f.text_area :comment, class: "form-control" %>
    </div>

    <div class="field">
        <%= f.label :vaccinated, "É vacinado?" %>
        <%= f.text_area :vaccinated, class: "form-control" %>
    </div>

    <div class="actions"%>
        <%= f.submit "Enviar", class: "btn-secundario" %>
    </div>
<% end %>
