<%= render :partial => 'layouts/header' %>
<h2>Resgata bichos</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<%= render :partial => 'devise/menu/login' %>


<% if user_signed_in? %>
	<h2><%= current_user.email %></h2>
<% end %>


<%= link_to 'Edit User', edit_user_registration_path %> 
