<%= render :partial => 'layouts/header' %>

<main>
	<section class="principal">
		<div class="container">
			<div class="principal-texto">
				<div class="row">
					<div class="col col-md-12">
						<h1>Resgata bichos</h1>
						<h2>Ajuda colaborativa para resgatar animais perdidos</h2>
					</div>
					<div class="col col-md-6 col-sm-12">
						<%= link_to(new_animal_path(:status => 'perdido'), class: "btn-principal") do %>
						 Perdi meu animal
						<% end %>	
					</div>
					<div class="col col-md-6 col-sm-12">
						<%= link_to(new_animal_path(:status => 'encontrado'), class: "btn-principal ") do %>
						 Achei um animal
						<% end %>	
					</div>
				</div>
			</div>
		</div>	
	</section>
	<section class="como-funciona">
		<div class="container">
			<div class="row">
				<div class="col col-md-12">
					<h2>Como funciona?</h2>
				</div>
			</div>
			<div class="row">
				<div class="col col-md-4">
					<h4>Cadastre o animal</h4>
					<i class="icon icon-bulldog" aria-hidden="true"></i>
					<p>Informe os dados</p>
				</div>
				<div class="col col-md-4">
					<h4>Insira fotos</h4>
					<i class="icon icon-cat" aria-hidden="true"></i>
					<p>Mais chances de identificação</p>
				</div>
				<div class="col col-md-4">
					<h4>Selecione o local no mapa</h4>
					<i class="icon icon-map" aria-hidden="true"></i>
					<p>Envio de avisos por região</p>
				</div>
			</div>
		</div>
	</section>
	<section class="adote">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">Não compre, adote!</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<img src="<%= image_url('site/adota-2.jpg') %>" alt="imagem de um cão antes e depois de adotado, com a cara triste antes e depois com carinha feliz" class="img-responsive">
						</div>
						<div class="col-md-6">
							<img src="<%= image_url('site/adota-1.jpg') %>" alt="imagem de um cão antes e depois de adotado, com a cara triste antes e depois com carinha feliz" class="img-responsive">			
						</div>	
					</div>
					
					<div class="row">
						<div class="col-md-6">
							<img src="<%= image_url('site/adota-3.jpg') %>" alt="imagem de um cão antes e depois de adotado, com a cara triste antes e depois com carinha feliz" class="img-responsive">
						</div>
						<div class="col-md-6">
							<img src="<%= image_url('site/adota-4.jpg') %>" alt="imagem de um cão antes e depois de adotado, com a cara triste antes e depois com carinha feliz" class="img-responsive fix-img">		
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<p>Imagens de animais antes e depois de serem adotados. <br/><br/>
					Ao adotar, você ajuda a diminuir casos de animais vivendo nas ruas e a diminuir a comercialização de animais. Muitas vezes os animais que são chamados de matrizes, ou seja os pais, sofrem em situações precárias de higiene e também muitas vezes de maus tratos. Fazer outro animal procriar à força durante toda sua vida visando lucro fácil até o bicho ficar doente é o contrário dos valores que este projeto apoia. <br/><br/>Denuncie casos de exploração, pois atualmente o comércio de animais de estimação não tem a devida fiscalização de órgãos públicos. Tenha certeza de que aquele companheiro que você escolheu para cuidar venha de um lugar que haja o respeito pela vida do animal. </p>
				</div>
			</div>
		</div>
	</section>
</main>
<%= render :partial => 'layouts/footer' %>
