<%= form_for([animal, event]) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>
      <ul>
      <% animal.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="map-canvas"></div>

  <div class="field">
    <%= f.label :data_event, "Data do evento" %>
    <%= f.text_field :data_event, class: "form-control" %>
  </div>

  <%= f.hidden_field :status, value: params[:status] %>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>

  <div class="field resolvido">
    <%= f.label :resolved, "Resolvido" %>
    <%= f.check_box :resolved, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :comment, "Detalhes do evento" %>
    <%= f.text_area :comment, class: "form-control" %>
  </div>

  <div class="field" style="visibility: hidden;">
    <%= f.label :place %>
    <%= f.text_field :place, class: "form-control" %>
  </div>
  

  <div class="actions"%>
    <%= f.submit "Completar cadastro", class: "btn-secundario" %>
  </div>
<% end %>
