<%= render :partial => 'layouts/header' %>

<main>
  <section class="show-animal">
    <div class="container">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Data do evento:</strong>
        <%= @event.data_event %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @event.status %>
      </p>

      <p>
        <strong>Resolvido:</strong>
        <%= @event.resolved %>
      </p>

      <p>
        <strong>Comentário:</strong>
        <%= @event.comment %>
      </p>

      <p>
        <strong>Localização:</strong>
        <%= @event.address %>
      </p>

      <%= link_to 'Edit', edit_animal_event_path(@animal, @event) %> |
      <%= link_to 'Back', animal_events_path %>
    </div>
  </section>
</main>