<%= form_for(animal) do |f|  %>
  <% if animal.errors.any? %>
	<div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>
	  <ul>
	  <% animal.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	  <% end %>
	  </ul>
	</div>
  <% end %>
  <% if @animals.any? && @animal.new_record? %>
	  <a href="javascript:void(0)" class="link-md" id="exist" onclick="toggleCreation();">Usar um animal já cadastrado</a>
	  <div id="exist-container" class="hidden">
	  	<a href="javascript:void(0)" class="link-md hidden" id="newItem" onclick="toggleCreation();">Criar novo animal</a>
		  <div class="field" data-toggle="tooltip"> 
		  	<label>Animais já cadastrados</label>
		  	<select class="form-control" id="cadastrados">
		  		<option value=""></option>
		  		<% @animals.each do |animal| %>
		  		<option value="<%=animal.id %>"><%= animal.name %></option>
		  		<% end %>
		  	</select>
		  </div>
		  <div class="actions">
		  	<a href="" class="btn-secundario btn-fake hidden" id="next">
					Próximo passo
					<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
				</a>
		  </div>
	  </div>
  <% end %>
  <div id="new">
  	<div class="field" data-toggle="tooltip">
			<%= f.label :name, "Nome" %>
			<%= f.text_field :name, class: "form-control" %>
	</div>

	  <div class="field" data-toggle="tooltip">
			<%= f.label :animal_type, "Tipo" %>
			<%= f.select(:animal_type, [['Cão', 'Cão'], ['Gato', 'Gato']], {}, { class: 'form-control' }) %>
	  </div>

	  <div class="field" data-toggle="tooltip" id="dogs-list">
			<%= f.label :race_dog, "Raça" %>
			<%= f.select(:race_dog, options_for_select(@dog_races) , {}, { class: 'form-control', :id => "dogs-list" }) %>
	  </div>

	  <div class="field hidden" data-toggle="tooltip" id="cats-list">
			<%= f.label :race_dog, "Raça" %>
			<%= f.select(:race_dog, options_for_select(@cat_races) , {}, { class: 'form-control', :id => "cats-list" }) %>
	  </div>

	  <div class="field" data-toggle="tooltip">
			<%= f.label :color, "Cor" %>
			<%= f.text_field :color, class: "form-control" %>
	  </div>

	  <div class="field" data-toggle="tooltip">
			<%= f.label :sex, "Sexo" %>
			<%= f.select(:sex, [['Macho', 'Macho'], ['Fêmea', 'Fêmea']], {}, { class: 'form-control'}) %>
	  </div>

	  <div class="field" data-toggle="tooltip">
			<%= f.label :age, "Idade" %>
			<%= f.select(:age, options_for_select(@ages) , {}, { class: 'form-control', :id => "ages" }) %>
	  </div>

	  <div class="field" data-toggle="tooltip">
			<%= f.label :size, "Porte" %>
			<%= f.select(:size, [['Pequeno', 'Pequeno'], ['Médio', 'Médio'], ['Grande', 'Grande']], {}, { class: 'form-control'}) %>
	  </div>

	  <input type="hidden" id="status_animal" name="status" value="<%= @status_animal %>">	  

	  <div class="actions">
		<%= f.submit "Enviar", class: "btn-secundario" %>
	  </div>
  </div>
<% end %>
