<%= form_for(animal) do |f| %>
  <% if animal.errors.any? %>
	<div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>
	  <ul>
	  <% animal.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	  <% end %>
	  </ul>
	</div>
  <% end %>
  <% if @animals.any? && @animal.new_record? %>
	  <a href="javascript:void(0)" class="link-md" id="exist" onclick="toggleCreation();">Usar um animal já cadastrado</a>
	  <div id="exist-container" class="hidden">
	  	<a href="javascript:void(0)" class="link-md hidden" id="newItem" onclick="toggleCreation();">Criar novo animal</a>
		  <div class="field" data-toggle="tooltip"> 
		  	<label>Animais já cadastrados</label>
		  	<select class="form-control" id="cadastrados">
		  		<option value=""></option>
		  		<% @animals.each do |animal| %>
		  		<option value="<%=animal.id %>"><%= animal.name %></option>
		  		<% end %>
		  	</select>
		  </div>
		  <div class="actions">
		  	<a href="" class="btn-secundario btn-fake hidden" id="next">
					Próximo passo
					<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
				</a>
		  </div>
	  </div>
  <% end %>
  <div id="new">
  	<div class="field" data-toggle="tooltip">
			<%= f.label :name, "Nome" %>
			<%= f.text_field :name, class: "form-control" %>
	</div>

	  <div class="field" data-toggle="tooltip">
			<%= f.label :animal_type, "Tipo" %>
			<%= f.select(:animal_type, [['Cão', 'Cão'], ['Gato', 'Gato']], {}, { class: 'form-control' }) %>
	  </div>

	  <div class="field" data-toggle="tooltip" id="dogs-list">
			<%= f.label :race, "Raça" %>
			<%= f.select(:race, 
			[
				['Sem raça definida', 'Sem raça definida'],
				['Affenpinscher', 'Affenpinscher'],
				['Afghan Hound', 'Afghan Hound'],
				['Airedale Terrier', 'Airedale Terrier'],
				['Akita', 'Akita'],
				['American Bully', 'American Bully'],
				['American Pit Bull Terrier', 'American Pit Bull Terrier'],
				['American Staffordshire Terrier', 'American Staffordshire Terrier'],
				['American Stafforshire', 'American Stafforshire'],
				['Australian Cattle Dog', 'Australian Cattle Dog'],
				['Australian Shepherd ', 'Australian Shepherd '],
				['Basenji', 'Basenji'],
				['Basset Hound', 'Basset Hound'],
				['Beagle ', 'Beagle '],
				['Bearded Collie', 'Bearded Collie'],
				['Bernese Mountain Dog', 'Bernese Mountain Dog'],
				['Bichon Frisé', 'Bichon Frisé'],
				['Bichon Havanês', 'Bichon Havanês'],
				['Biewer Terrier', 'Biewer Terrier'],
				['Billy', 'Billy'],
				['Boerboel', 'Boerboel'],
				['Boiadeiro Bernês', 'Boiadeiro Bernês'],
				['Boiadeiro De Entlebuch', 'Boiadeiro De Entlebuch'],
				['Border Collie', 'Border Collie'],
				['Boston Terrier', 'Boston Terrier'],
				['Bouvier Des Flandres', 'Bouvier Des Flandres'],
				['Boxer', 'Boxer'],
				['Braco Alemão (kurzhaar)', 'Braco Alemão (kurzhaar)'],
				['Breton', 'Breton'],
				['Buldogue Americano', 'Buldogue Americano'],
				['Buldogue Campeiro', 'Buldogue Campeiro'],
				['Buldogue Francês', 'Buldogue Francês '],
				['Buldogue Inglês', 'Buldogue Inglês'],
				['Bull Terrier', 'Bull Terrier'],
				['Bull Terrier Miniatura', 'Bull Terrier Miniatura'],
				['Bulmastife', 'Bulmastife'],
				['Cairn Terrier', 'Cairn Terrier'],
				['Cane Corso', 'Cane Corso'],
				['Cão Das Montanhas Do Atlas ', 'Cão Das Montanhas Do Atlas '],
				['Cão De Crista Chinês', 'Cão De Crista Chinês'],
				['Cão De Santo Humberto', 'Cão De Santo Humberto'],
				['Cavalier King Charles Spaniel', 'Cavalier King Charles Spaniel'],
				['Chesapeake Bay Retriever', 'Chesapeake Bay Retriever'],
				['Chihuahua', 'Chihuahua'],
				['Chinese Crested Dog', 'Chinese Crested Dog'],
				['Chow Chow', 'Chow Chow'],
				['Cocker', 'Cocker'],
				['Cocker Spaniel Americano', 'Cocker Spaniel Americano'],
				['Cocker Spaniel Inglês', 'Cocker Spaniel Inglês'],
				['Collie', 'Collie'],
				['Coonhound Preto E Castanho', 'Coonhound Preto E Castanho'],
				['Coton De Tuléar', 'Coton De Tuléar'],
				['Dachshund (teckel)', 'Dachshund (teckel)'],
				['Dálmata', 'Dálmata'],
				['Dobermann', 'Dobermann'],
				['Dog', 'Dog'],
				['Dogo Argentino', 'Dogo Argentino'],
				['Dogue Alemão', 'Dogue Alemão'],
				['Dogue De Bordeaux', 'Dogue De Bordeaux'],
				['Ferret', 'Ferret'],
				['Fila Brasileiro', 'Fila Brasileiro'],
				['Flat Coated Retriever', 'Flat Coated Retriever'],
				['Foxhound Americano', 'Foxhound Americano'],
				['Fox Terrier De Pêlo Liso', 'Fox Terrier De Pêlo Liso'],
				['Fox Terrier Pêlo Duro', 'Fox Terrier Pêlo Duro'],
				['Galgo Espanhol', 'Galgo Espanhol'],
				['Golden', 'Golden'],
				['Golden Retriever', 'Golden Retriever'],
				['Greinhound', 'Greinhound'],
				['Griffon De Bruxelas', 'Griffon De Bruxelas'],
				['Husky Siberiano', 'Husky Siberiano'],
				['Jack Russel', 'Jack Russel'],
				['Kerry Blue Terrier', 'Kerry Blue Terrier'],
				['King Charles Spaniel', 'King Charles Spaniel'],
				['Kuvasz', 'Kuvasz'],
				['Labrador', 'Labrador'],
				['Labrador Retriever', 'Labrador Retriever'],
				['Lhasa Apso', 'Lhasa Apso'],
				['Lulu Da Pomerânia (spitz)', 'Lulu Da Pomerânia (spitz)'],
				['Malamute Do Alaska', 'Malamute Do Alaska'],
				['Maltês', 'Maltês'],
				['Mastiff', 'Mastiff'],
				['Mastiff Inglês', 'Mastiff Inglês'],
				['Mastim Dos Pireneus', 'Mastim Dos Pireneus'],
				['Mastim Napolitano', 'Mastim Napolitano'],
				['Mini Coelho', 'Mini Coelho'],
				['Norwich Terrier', 'Norwich Terrier'],
				['Olde Englishbulldogge Brasileiro', 'Olde Englishbulldogge Brasileiro'],
				['Old English Sheepdog', 'Old English Sheepdog'],
				['Papillon', 'Papillon'],
				['Parson Russell Terrier', 'Parson Russell Terrier'],
				['Pastor Alemão', 'Pastor Alemão'],
				['Pastor Alemão Branco', 'Pastor Alemão Branco'],
				['Pastor Australiano (shepherd)', 'Pastor Australiano (shepherd)'],
				['Pastor Belga', 'Pastor Belga'],
				['Pastor Maremano Abruzês', 'Pastor Maremano Abruzês'],
				['Pequeno Lebrel Italiano', 'Pequeno Lebrel Italiano'],
				['Pequinês', 'Pequinês'],
				['Perdigueiro Português', 'Perdigueiro Português'],
				['Pinscher', 'Pinscher'],
				['Pinscher Miniatura', 'Pinscher Miniatura'],
				['Pit Bull Terrier', 'Pit Bull Terrier'],
				['Pointer Inglês', 'Pointer Inglês'],
				['Poodle', 'Poodle'],
				['Poodle Micro Toy', 'Poodle Micro Toy'],
				['Poodle Toy', 'Poodle Toy'],
				['Pug', 'Pug'],
				['Puli', 'Puli'],
				['Rhodesian Ridgeback', 'Rhodesian Ridgeback'],
				['Rottweiler', 'Rottweiler'],
				['Samoieda', 'Samoieda'],
				['São Bernardo', 'São Bernardo'],
				['Schipperke', 'Schipperke'],
				['Schnauzer', 'Schnauzer'],
				['Schnauzer Gigante', 'Schnauzer Gigante'],
				['Schnauzer Miniatura', 'Schnauzer Miniatura'],
				['Setter Inglês', 'Setter Inglês'],
				['Setter Irlandês', 'Setter Irlandês'],
				['Shar Pei', 'Shar Pei'],
				['Shiba', 'Shiba'],
				['Shih-tzu', 'Shih-tzu'],
				['Skye Terrier', 'Skye Terrier'],
				['Smoushond Holandês', 'Smoushond Holandês'],
				['Spaniel Bretão', 'Spaniel Bretão'],
				['Spitz Alemão', 'Spitz Alemão'],
				['Spitz Japonês', 'Spitz Japonês'],
				['Springer Spaniel Inglês', 'Springer Spaniel Inglês'],
				['Staffordshire Bull Terrier', 'Staffordshire Bull Terrier'],
				['Super Cão (Rot C/ Pit)', 'Super Cão (Rot C/ Pit)'],
				['Teckel', 'Teckel'],
				['Terra Nova', 'Terra Nova'],
				['Terrier Brasileiro (fox Paul.)', 'Terrier Brasileiro (fox Paul.)'],
				['Toy Fox Terrier', 'Toy Fox Terrier'],
				['Veadeiro Pampeano', 'Veadeiro Pampeano'],
				['Weimaraner', 'Weimaraner'],
				['Welsh Corgi Cardigan', 'Welsh Corgi Cardigan'],
				['Welsh Corgi Pembroke', 'Welsh Corgi Pembroke'],
				['Welsh Springer Spaniel', 'Welsh Springer Spaniel'],
				['Welsh Terrier', 'Welsh Terrier'],
				['West Highland White Terrier', 'West Highland White Terrier'],
				['Whippet', 'Whippet'],
				['York Chocolat', 'York Chocolat'],
				['Yorkshire', 'Yorkshire'],
				['Yorkshire Terrier', 'Yorkshire Terrier']

			], {}, { class: 'form-control', :id => "dogs-list" }) %>
	  </div>

	  <div class="field hidden" data-toggle="tooltip" id="cats-list">
			<%= f.label :race, "Raça" %>
			<%= f.select(:race, 
			[
				['Sem raça definida', 'Sem raça definida'],
				['Abissínio', 'Abissínio'],
				['American Shorthair', 'American Shorthair'],
				['American Short hair', 'American Short hair'],
				['Bengal', 'Bengal'],
				['Brasileiro Real', 'Brasileiro Real'],
				['British', 'British'],
				['Cornish Rex', 'Cornish Rex'],
				['Exótico', 'Exótico'],
				['Gato Srd Pelo Curto', 'Gato Srd Pelo Curto'],
				['Himaláia', 'Himaláia'],
				['Maine Coon', 'Maine Coon'],
				['Munchkin', 'Munchkin'],
				['Oriental', 'Oriental'],
				['Persa', 'Persa'],
				['Pixie Bob', 'Pixie Bob'],
				['Ragdoll', 'Ragdoll'],
				['Russian Blue', 'Russian Blue'],
				['Sagrado Da Birmânia ', 'Sagrado Da Birmânia '],
				['Savannah', 'Savannah'],
				['Scottish Fold', 'Scottish Fold'],
				['Siamês', 'Siamês'],
				['Siberiana', 'Siberiana'], 
				['Sphynx', 'Sphynx'], 
				['York', 'York']

			], {}, { class: 'form-control', :id => "cats-list" }) %>
	  </div>

	  <div class="field" data-toggle="tooltip">
			<%= f.label :color, "Cor" %>
			<%= f.text_field :color, class: "form-control" %>
	  </div>

	  <div class="field" data-toggle="tooltip">
			<%= f.label :sex, "Sexo" %>
			<%= f.select(:sex, [['Macho', 'Macho'], ['Fêmea', 'Fêmea']], {}, { class: 'form-control'}) %>
	  </div>

	  <div class="field" data-toggle="tooltip">
			<%= f.label :age, "Idade" %>
			<%= f.select(:age, 
			[
				['Até 1 ano', 'Até 1 ano'],
				['1', '1'],
				['2','2'],
				['3','3'],
				['4','4'],
				['5','5'],
				['6','6'],
				['7','7'],
				['8','8'],
				['9','9'],
				['10','10'],
				['11','11'],
				['12','12'],
				['13','13'],
				['14','14'],
				['15','15'],
				['16','16'],
				['17','17'],
				['18','18'],
				['19','19'],
				['Mais que 20','Mais que 20']

			], {}, { class: 'form-control', :id => "ages" }) %>
	  </div>

	  <div class="field" data-toggle="tooltip">
			<%= f.label :size, "Porte" %>
			<%= f.select(:size, [['Pequeno', 'Pequeno'], ['Médio', 'Médio'], ['Grande', 'Grande']], {}, { class: 'form-control'}) %>
	  </div>

	  <div class="actions">
		<%= f.submit "Enviar", class: "btn-secundario" , :onclick => "return validateform()" %>
	  </div>
  </div>
<% end %>
