<%= render :partial => 'layouts/header' %>

<main>
  <section class="edit-animal">
    <div class="container">
    
		<h1>Editar Animal</h1>

		<%= render 'form', animal: @animal %>

		<%= link_to 'Show', @animal %> |
		<%= link_to 'Back', animals_path %>
    </div>
  </section>
</main>
<%= render :partial => 'layouts/footer' %>