<%= render :partial => 'layouts/header' %>

<main>
  <section class="index-animals">
    <div class="container">
      
      <div id="error_explanation" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p id="notice"><%= notice %></p>
      </div>
      <div class="row">
        <div class="col-md-9">
          <h1>Meus animais</h1>  
        </div>
        <div class="col-md-3">
          <%= link_to 'Cadastrar novo animal', new_animal_path, class: "btn-secundario" %>
        </div>
      </div>
      <div class="row">
        <% @animals.each do |animal| %>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card-animals-container">
              <ul>
                <% animal.images.take(1).each do |image, i| %>
                  <li>
                    <img class="img-responsive" src="<%= image.image.url %>" class="img-rounded">
                  </li>
               <% end %>
              </ul>
              <p>Nome: <%= animal.name %></p>
              <p>Gênero: <%= animal.sex %></p>
              <p>Idade: <%= animal.age %></p>
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4 links">
                  <%= link_to 'Deletar', animal, method: :delete, data: { confirm: 'Você tem certeza? Ao deletar um animal você irá excluir suas fotos e os eventos cadastrados.' } %>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 links">
                  <%= link_to 'Editar', edit_animal_path(animal) %>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 links">
                  <%= link_to 'Exibir', animal_event_url(animal, animal.events.last) %>
                  <!-- listagem de animais -> animal ->listagem de imagens e de eventos... -->

                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>  
  </section>
</main>
<%= render :partial => 'layouts/footer' %>