<%= render :partial => 'layouts/header' %>

<main>
  <section class="show-animal">
    <div class="container">
		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Name:</strong>
		  <%= @animal.name %>
		</p>

		<p>
		  <strong>Race:</strong>
		  <%= @animal.race %>
		</p>

		<p>
		  <strong>Color:</strong>
		  <%= @animal.color %>
		</p>

		<ul>
		  <% @animal.images.each do |image| %>
		  	<li>
		  		<img src="<%= image.image.url %>">
		  	</li>
		  <% end %>
		</ul>

		<%= link_to 'Edit', edit_animal_path(@animal) %> |
		<%= link_to 'Back', animals_path %>
    </div>  
  </section>
</main>