<%= render :partial => 'layouts/header' %>

<main>
  <section class="search">
    <div class="container">
    	<h1>Procurar</h1>

		<%= form_tag(search_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>

		<div class="field" data-toggle="tooltip">
		<%= label_tag :animal_type, "Tipo" %>	
		<%= select_tag(params[:tipo_animal], options_for_select([['Cão', "Cão"], ['Gato', "Gato"]]), { class: 'form-control' })%>
	  	</div>

	  	<div class="field" data-toggle="tooltip">
	  		<%= label_tag :sex, "Sexo" %>	
	  		<%= select_tag(params[:sex], options_for_select([['Macho', 'Macho'], ['Fêmea', 'Fêmea']]), { class: 'form-control' })%>
	  	</div>

	  	<div class="field" data-toggle="tooltip">
			<%= label_tag :size, "Porte" %>
			<%= select_tag(params[:size], options_for_select([['Pequeno', 'Pequeno'], ['Médio', 'Médio'], ['Grande', 'Grande']]), { class: 'form-control' })%>
	  	</div>

		<%= submit_tag "Search" %>
		<% end %>

		<% if @animals.present? %>
			<% @animals.each do |animal| %>
				<%= animal.name %>
			<% end %>
		<% else %>

		  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
		<% end %>
    </div>
 </section>
</main>