<%= render :partial => 'layouts/header' %>

<main>
  <section class="search">
    <div class="container">
    	<h1>Procurar animais</h1>
    	
		<div class="col-md-8">
    		<% unless @state %>
    			<h3>Selecione por estado </h3>
    			<%= render('map') %>
			<% end %>
			<% if @animals.present? %>
				<% @animals.each do |animal| %>
					<div class="col-md-4 col">
					<%= link_to animal, class: "box-search-animals" do %>
						
						<p><%= "#{animal.name} #{animal.id} "  %></p>
						<p><%= "#{animal.animal_type} " %> </p>
						<p><%= "#{animal.sex} " %> </p>
						<p></p>
					<% end %>
					</div>
			<% end %>
			<% else %>
	  			<p>Sua busca não retornou nenhum resultado.</p>
			<% end %>
		</div>

		
    	<div class="col-md-4">
    	<h3>Filtros </h3>
    		<div id="searchInputs">
    			<%= form_tag(search_path, :method => "get", id: "search-form", name: "search") do |f| %>
    				<%= hidden_field_tag(:state, @state, { name: 'search[state]' }) %>

    				<div class="row">
    					<div class="col-md-6">
    						<div class="search-block">
    							<%= label_tag(:search_status_encontrado, "Achados") %>
    							<%= radio_button_tag('search[status]', 'encontrado', true) %>
    						</div>
    					</div>
    					<div class="col-md-6">
    						<div class="search-block">
    							<%= label_tag(:search_status_perdido, "Perdidos") %>
    							<%= radio_button_tag('search[status]', 'perdido', false) %>
    						</div>
    					</div>
    				</div>

					<div class="field" data-toggle="tooltip">
						<%= label_tag :animal_type, "Tipo" %>	
						<%= select_tag(:animal_type, options_for_select([[' ', nil], ['Cão', "Cão"], ['Gato', "Gato"]], params.dig(:search, :animal_type)), { class: 'form-control', name: 'search[animal_type]' })%>
				  	</div>

				    <div class="field" data-toggle="tooltip" id="dogs-list">
					<%= label_tag :race, "Raça" %>
					<%= select_tag(
						:race,
						options_for_select(@dog_races, params.dig(:search, :race)),
						{ class: 'form-control', name: 'search[race]' }
					) %>  	
					</div>
					
					<div class="field hidden" data-toggle="tooltip" id="cats-list">
					<%= label_tag :race, "Raça" %>
					<%= select_tag(
						:race,
						options_for_select(@cat_races, params.dig(:search, :race)),
						{class: 'form-control', name: 'search[race]' }
					)%>  	
					</div>

				  	<div class="field" data-toggle="tooltip">
				  		<%= label_tag :sex, "Sexo" %>	
				  		<%= select_tag(:sex, options_for_select([[' ', nil], ['Macho', 'Macho'], ['Fêmea', 'Fêmea']], params.dig(:search, :sex)), { class: 'form-control', name: 'search[sex]' })%>
				  	</div>

				  	<div class="field" data-toggle="tooltip">
				  		<%= label_tag :color, "Cor" %>	
				  		<%= text_field_tag(:color, params.dig(:search, :color), { class: 'form-control', name: 'search[color]' })%>
				  	</div>

				  	<div class="field" data-toggle="tooltip">
				  		<%= label_tag :age, "Idade" %>	
				  		<%= select_tag(
				  			:age,
				  			options_for_select(@ages, params.dig(:search, :age)),
				  			{ class: 'form-control', name: 'search[age]' }
				  		)%>
				  	</div>

				  	<div class="field" data-toggle="tooltip">
						<%= label_tag :size, "Porte" %>
						<%= select_tag(:size, options_for_select([[' ', nil], ['Pequeno', 'Pequeno'], ['Médio', 'Médio'], ['Grande', 'Grande']], params.dig(:search, :size)), { class: 'form-control', name: 'search[size]' })%>
				  	</div>

					<div class="field" data-toggle="tooltip">
				  		<%= label_tag :data_event, "Data do evento" %>	
				  		<%= text_field_tag(:data_event, params.dig(:search, :data_event), { class: 'form-control', name: 'search[data_event]', placeholder: '00/00/0000' })%>
				  	</div>
				  	

					<%= submit_tag "Buscar" , class: "btn-secundario" %>
				<% end %>
    		</div>
    	</div>

		
    </div>
 </section>
</main> 
