<%= form_for([animal, image]) do |f| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>
      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if animal.images.any? %>
    <div class="select-images">
      <a href="javascript:void(0)" class="toggleCriation link-md" id="exist">Usar uma imagem j치 cadastrada</a>
      <div id="exist-container" class="hidden">
        <a href="javascript:void(0)" class="toggleCriation link-md hidden" id="newImage">Criar nova imagem</a>
        <div class="field" data-toggle="tooltip"> 
          <label>Imagens j치 cadastradas</label>
          <select class="form-control" id="cadastrados">
            <option value=""></option>
            <% @animal_images.each do |image| %>
            <option value="<%= image.animal.id %>"><%= image.image_file_name %></option>
            <% end %>
          </select>
        </div>
        <div class="actions">
          <a href="" class="btn-secundario btn-fake hidden" id="next">
            Pr칩ximo passo
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  <% end %>
  <div id="new">
    <div class="field" data-toggle="tooltip">
      <%= f.file_field :image, value: "Escolher imagem", class: "form-control"  %>   
    </div>
    <%= hidden_field_tag :status, params[:status] %>
    <div class="actions">   
      <%= f.submit "Pr칩ximo passo", class: "btn-secundario" , :onclick => "return validateform()"  %>
    </div>
  </div>
<% end %>
