<%= render :partial => 'layouts/header' %>
<main>
   <section class="new-animal">
    <div class="container">
      <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @images.each do |image| %>
            <tr>
              <td><img src="<%= image.image.url %>"></img></td>
              <td><%= link_to 'Show', animal_image_path(params[:animal_id], image) %></td>
              <td><%= link_to 'Edit', edit_animal_image_path(params[:animal_id], image) %></td>
              <td><%= link_to 'Destroy', animal_image_path(params[:animal_id], image), method: :delete, data: { confirm: 'Are you sure?' } %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Nova imagem ', new_animal_image_path(params[:animal_id]) %>
    </div> 
  </section>
</main>

