<%= render :partial => 'layouts/header' %>
<main>
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-centered">
				<div class="alert alert-success alert-dismissible" role="alert">
				    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				    <p id="notice"><%= notice %></p>
				</div>
			    <section class="steps-cadastro">
				      <ol class="row">
				        <li class="col col-md-3 col-sm-3 col-xs-3">Dados do animal</li>
				        <li class="col col-md-3 col-sm-3 col-xs-3">Imagens do animal</li>
				        <li class="col col-md-3 col-sm-3 col-xs-3">Local do evento</li>
				        <li class="col col-md-3 col-sm-3 col-xs-3">Pronto!</li>
				      </ol>
				      <div class="progress">
				        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
				          50% Completos
				        </div>
				      </div>
			    </section>
			    <section class="new-animal">
			    	<div class="form-container" id="form-image">
						<h2>Nova imagem</h2>
						<p>Insira alguma foto do animal. Caso não tenha fotos, procure uma imagem que mais se pareça com o animal.</p>
						
						<%= render 'form', animal: @animal, image: @image %>

						<% if flash[:notice] %>
							<div class="notice"><%= flash[:notice] %></div>
						<% end %>
					</div>
				</section>
			</div>
		</div>
	</div>
</main>
<%= render :partial => 'layouts/footer' %>