<!DOCTYPE html>
<html>
  <head>
    <title>Resgata Bichos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Resgata Bichos - Para quem perdeu ou encontrou um animal">
    <meta name="keywords" content="Cachorro fugiu, cachorro perdido, gato fugiu, gato perdido, calopsita fugiu, animal fugiu, animal perdido, ajuda colaborativa, regate animais perdidos, achei um animal na rua">
    <link rel="icon" href="<%= asset_path( 'site/favicon.ico' ) %>" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
