<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Resgata Bichos - Ajuda colaborativa para resgatar animais perdidos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Resgata Bichos - Para quem perdeu ou encontrou um animal">
    <meta name="keywords" content="Cachorro fugiu, cachorro perdido, gato fugiu, gato perdido, calopsita fugiu, animal fugiu, animal perdido, ajuda colaborativa, regate animais perdidos, achei um animal na rua">
    <link rel="manifest" href="manifest.json"></link>
    <link rel="icon" href="<%= asset_path( 'site/favicon.ico' ) %>" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %> 
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MAPS_API_KEY']%>"  defer ></script>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application'%>
    <script type="text/javascript">
      if (navigator.serviceWorker.controller) {
        console.log('[PWA Builder] active service worker found, no need to register')
      } else {
        //Register the ServiceWorker
        navigator.serviceWorker.register('pwabuider-sw.js', {
          scope: './'
        }).then(function(reg) {
          console.log('Service worker has been registered for scope:'+ reg.scope);
        });
      }
    </script>
  </body>
</html>
